<html>
  <head>
    
  </head>
  <body>
    <div id="page">
      <div id="header">
      <div style="align:center">
    <h1>{{ header.title }}</h1>
	<p>Дата: {{ header.date }}</p>
    </div> 
      </div>

      
       
     <div id="left">
         <p><img src="gallery_img/big/{{ src }}"></p>
      </div>
   
      
    
      <div id="footer">
        <div style="align:center">
    <h2>{{ footer }}</h2>
    </div> 
      </div>
    </div>  
  </body>
</html>